$column: 12;

.row {
	display:flex;
	flex-wrap: wrap;
	margin: 0 -20px;

	[class*="col-"] {
		padding: 0 20px;
	}

	&.icon {
		margin: 0 -20px 114px -20px;

		[class*="col-"] {
			margin-bottom: 40px;
			
			@include media ('>=tablet') {
				margin-bottom: 0;
			}
		}
	}
}

@for $i from 1 through $column {
	.col-#{$i} {
		width: 100% / $column * $i;
	}
}

@include media ('>=phone', '<tablet') {
	@for $i from 1 through $column {
		.col-sm-#{$i} {
			width: 100% / $column * $i;
		}
	}
}

@include media ('>=tablet', '<desktop') {
	@for $i from 1 through $column {
		.col-md-#{$i} {
			width: 100% / $column * $i;
		}
	}
}

@include media ('>=desktop') {
	@for $i from 1 through $column {
		.col-lg-#{$i} {
			width: 100% / $column * $i;
		}
	}
}
