.menu-opener {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: rgba($green, .5);
    position: relative;
    border-radius: 3px;
    vertical-align: top;
    order: -1;

    @include media(">=tablet") {
        display: none;
    }

    span,
    &::after,
    &::before {
        background: $coral-200;
        border-radius: 4px;
        position: absolute;
        top: 50%;
        left: 25%;
        right: 25%;
        height: 3px;
        margin-top: -2px;
        transition: all 0.3s linear;
    }

    &::after,
    &::before {
        content: "";
        top: 30%;
    }

    &::after {
        top: 70%;
    }
}

.mobile-menu-active {

    span {
        opacity: 0;
    }

    .menu-opener {
        &::after,
        &::before {
            transform: rotate(-45deg);
            top: 50%;
            left: 15%;
            right: 15%;
        }

        &::after {
            transform: rotate(45deg);
        }
    }
}

.menu {
    @extend %listreset;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    transform: translateX(-100%);
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0.5s ease-in-out, transform 0.5s ease-in-out,
    background-color 0.3s ease-in-out, color 0.45s ease-in-out, border-top .4s ease-in-out;
    border-top: 3px solid transparent;
    height: 100vh;

    @include media(">=tablet") {
        transform: translateX(0);
        height: 100%;
        opacity: 1;
        visibility: visible;
        display: flex;
        position: static;
    }

    .mobile-menu-active & {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
        z-index: 3;
        background-color: rgba($green, .7);
        border-top: 3px solid $coral-100;
    }
}

.nav {

    a {
        text-decoration: none;
        display: block;
        padding: 20px 10px;
        color: $white;
        font-family: 'Avenir';
        text-transform: uppercase;
        letter-spacing: 0.98px;
        font-size: 13px;
        font-weight: bold;
        border-bottom: 3px solid transparent;
        transition: border-bottom 0.4s ease-in-out, background-color .4s ease-in-out;

        &:hover {
            background-color: rgba($green, 0.8);
        }

        &.active {
            background-color: rgba($green, 0.8);
        }

        @include media(">=tablet") {
            padding: 10px 13px;
            max-width: 200px;
        
            &:hover {
                background-color: transparent;
                border-bottom: 3px solid $green;
            }

            &.active {
                border-bottom: 3px solid $green;
                background-color: transparent;
            }
        }
    }

    li {
        @include media(">=tablet") {
        padding: 0 20px;
        }
    }
}